<div class="Admindashboard">
<mat-toolbar class="ToolBar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>
    <span matBadge="2" matBadgeOverlap="false" class="nav-header-content">Latest Request</span>
  </span>

  <span class="example-spacer"></span>
  <span>Hi Admin</span>
  <button mat-button [matMenuTriggerFor]="menu">
   <mat-icon class="mat-18"><span class="material-symbols-outlined">
    person_4
    </span></mat-icon>
    </button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Profile</button>
  <button mat-menu-item>Request</button>
  <button mat-menu-item>MyRequest</button>
  <button mat-menu-item>View-History</button>
  <button mat-menu-item routerLink="/login" >Logout</button>
</mat-menu>


</mat-toolbar>
</div>
<router-outlet></router-outlet>
