.Admindashboard{
  background-image: url('C:\Users\Satyajit.Das\OneDrive\EMI_Training\Approval_Management_System\Approval_Management_System\src\assets\images\How-To-Become-A-Great-Manager_.png');
  height:100vh;
  width:100vw;
}
.example-spacer {
  flex: 1 1 auto;
}
.nav-header-content{
  margin-left:40%
}
.ToolBar{
  background-color: rgb(163, 165, 162);
}
.nav-header-content:hover{
  color: white;
  transform: scale(1.1, 1.1);
}
#profileicon{
  height: 30px;
  width:30px;
  border-radius: 50%;
}
.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
