<app-main></app-main>
<mat-card class="example-card bg-warning mt-5">
  <mat-card-header>
    <mat-card-title>Products</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx_I8cNEXW7tTRB08mRXIFxcvhfMQu8dMnEA&usqp=CAU"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      Great design will not sell an inferior product, but it will enable a great
      product to achieve its maximum potential.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="bg-danger">LIKE</button>
    <button mat-button class="bg-success">SHARE</button>
  </mat-card-actions>
</mat-card>
<router-outlet></router-outlet>
