<!--

<ng-container *ngIf="detailedRequest.length != 0">
  <div class="container">
    <img src="" alt="" />
    <mat-card
      class="example-card mat-elevation-z10"
      *ngFor="let item of detailedRequest | filter:name;let i = index"
    >
      <mat-card-header style="margin-left: -5px;">
        <mat-card-title>Ticket Id : {{ item.id }}</mat-card-title>

        <div *ngIf="item.approved==true; else elseBlock">  <button
          mat-raised-button
          style="right: 0;margin-top:-5px; position: absolute; background-color: rgb(22, 242, 11)"
        >
        approved
        </button></div>
        <ng-template #elseBlock><button
          mat-raised-button
          style="right: 0;margin-top:-5px; position: absolute; background-color: rgb(242, 53, 11)"
        >
       rejected
        </button></ng-template>

        <mat-card-title>name : {{ item.name }}</mat-card-title>
      </mat-card-header>
      <hr />

      <mat-card-header>


        <mat-card-title>purpose : {{ item.purpose }}</mat-card-title>

        <mat-card-title>description : {{ item.description }}</mat-card-title>

        <mat-card-title>estimateCost : {{ item.estimateCost }}</mat-card-title>

        <mat-card-title
          >advanceAmount : {{ item.advanceAmount }}</mat-card-title
        >
        <mat-card-title>date : {{ item.date | date }}</mat-card-title>
      </mat-card-header>
      <hr />
      <mat-card-header>
        <mat-card-title>Approver : {{ item.approver }}</mat-card-title>
      </mat-card-header>

    </mat-card>

  </div>
</ng-container> -->

<!--header-->

<!--body-->
<!-- <div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource ">

    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef > Id </th>
      <td mat-cell *matCellDef="let element"  >{{element.id}}  </td>
    </ng-container>

    <ng-container matColumnDef="name" >
      <th mat-header-cell *matHeaderCellDef > name </th>
      <td mat-cell *matCellDef="let element"  >{{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="purpose">
      <th mat-header-cell *matHeaderCellDef> purpose </th>
      <td mat-cell *matCellDef="let element"> {{element.purpose }} </td>
    </ng-container>


    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="estimateCost">
      <th mat-header-cell *matHeaderCellDef style="margin-right:10%"> estimateCost </th>
      <td mat-cell *matCellDef="let element"> {{element.estimateCost}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> status </th>
      <td mat-cell *matCellDef="let element">  <div *ngIf="element.approved==true">  <button
        mat-raised-button
        style=" background-color: rgb(22, 242, 11)"
      >
      approved
      </button></div>
      <div *ngIf="element.reject==true">  <button
        mat-raised-button
        style="background-color: rgb(242, 26, 11)"
      >
      rejected
      </button></div>
      <ng-template *ngIf="element.reject==false &&element.approved==false"><button
        mat-raised-button
        style=" background-color: rgb(242, 242, 11)"
      >
     pending
      </button></ng-template></td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef> comments </th>
      <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> date </th>
      <td mat-cell *matCellDef="let element"> {{element.date|date}} </td>
    </ng-container>





    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; " ></tr>

  </table>
     <div class="spacer">
      <mat-paginator [pageSizeOptions]="[3, 6, 15]"  showFirstLastButtons   aria-label="Select page of Employee"></mat-paginator>


      </div>



</div> -->

<ag-grid-angular id="aggrid" style="height:400px ;width:100%;padding-top:5%;color: white;"
class="ag-theme-alpine-dark ag-theme-acmecorp"
[rowData]="rowData | async" [columnDefs]="columnDefs"
rowSelection="multiple"
  [pagination]="true"
  [rowHeight]='30'

 [paginationAutoPageSize]="true"
>

</ag-grid-angular>
