

<ng-container *ngIf="myRequestList.length != 0">
  <div class="container">
    <img src="" alt="" />
    <mat-card
      class="example-card mat-elevation-z10"
      *ngFor="let item of myRequestList | filter:name;let i = index"
    >
      <mat-card-header style="margin-left: -5px;">
        <mat-card-title>Ticket Id : {{ item.id }}</mat-card-title>

        <button
          mat-raised-button
          style="right: 0; position: absolute; background-color: pink"
        >
          Initiated
        </button>
        <mat-card-title>name : {{ item.name }}</mat-card-title>
      </mat-card-header>
      <hr />

      <mat-card-header>


        <mat-card-title>purpose : {{ item.purpose }}</mat-card-title>

        <mat-card-title>description : {{ item.description }}</mat-card-title>

        <mat-card-title>estimateCost : {{ item.estimateCost }}</mat-card-title>

        <mat-card-title
          >advanceAmount : {{ item.advanceAmount }}</mat-card-title
        >
        <mat-card-title>date : {{ item.date | date }}</mat-card-title>
      </mat-card-header>
      <hr />
      <mat-card-header>
        <mat-card-title>Approver : {{ item.approver }}</mat-card-title>
      </mat-card-header>
      <hr />
      <mat-card-actions class="buttons">
        <mat-icon
          mat-raised-button
          color="primary"
          style="margin-left: 10%"
          (click)="openEditDialog(item.id)"
          matTooltip="edit"
        >
        <span class="material-symbols-outlined">
          edit
          </span>
        </mat-icon>
        <mat-icon
          mat-raised-button
          color="warn"
          (click)="deleteCart(item.id)"
          style="margin-left: 10%"
          color="accent"
          matTooltip="withdraw"
        >
        <span class="material-symbols-outlined">
          delete_forever
          </span>
        </mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
