<div>
  <h2>Replay subject</h2>
  <br>
  <div class="row justify-content-left">
    <div class="col">
      <h3>add video</h3>
    </div>
    <div class="col text-right">
    </div>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-md-3">
      <input type="text" class="form-control" #video>
    </div>
    <div class="col-md-4">
      <button class="btn btn-success" (click)="onvideoadd(video.value)">
        add video
      </button>
    </div>

  </div>
</div>
<hr>

<div class="row">
  <div class="col-md-4">
    <strong style="color:darkgreen">user 1 List</strong>
    <hr>
    <ul>
      <li *ngFor="let item of user1List">
        <strong>{{item}}</strong>
      </li>
    </ul>

  </div>

</div>
<div class="row">
<div class="col-md-4">
  <strong style="color:red">
    user 2
  </strong>
  <hr>
  <ul>
    <li *ngFor="let item of user2List">
      <strong>{{item}}</strong>
    </li>
  </ul>
  <button class="btn" [ngClass]="subscribe2user? 'btn-danger':'btn-success' || subscribe2user? 'btn-success':'btn-danfer'" (click)="user2subscribe()">
    {{subscribe2user?'Unsubscribe':'Subscribe ' || subscribe2user?'Subscribe':'Unsubscribe'}}

  </button>
</div>

</div>
